.input-wrapper {
	width: 80%;
	font-weight: bold;
	margin-top: 30px;
}

.player-wrapper {
	width: 100%;
	margin: 20px 40px; 
	padding: 35px 40px;
}


input {
	color: rgba(0, 0, 0, 0.8) !important;
}

#videoId {
	width: 55%;
	padding: 5px;
}

#idSubmit {
	width: 17.5%;
	padding: 5px;
	background: #396afc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #396afc, #3d58ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #396afc, #3d58ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	border-color: #396afc;
	border-radius: 4px;
}